html, body {
    margin: 0;
    border: 0;
    height: 100vh;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-areas: "menu content";
    grid-template-columns: 1fr 5fr;
}

.menu-notes-container {
    grid-area: menu;
    min-height: 100vh;
    max-height: 100vh;
    padding-left: 1rem;
    padding-top: 1rem;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 500ms;
}

.menu-notes {
    list-style: none;
    font-size: large;
}

.note-content {
    grid-area: content;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E0D3AF;
    overflow-y: auto;
}

.text {
    font-family: "Comic Relief", system-ui;
    font-size: 1.7rem;
    padding: 0 5rem; /*2 args = top-bottom rigth-left; 3 args = forgot top rigth bottom, maybe; 4 arg, clockwise starting with top*/
}

.note {
    transition: 500ms ease-out;
}

.note button {
    background-color: rgba(250, 235, 215, 0);
    padding: 0.2rem;
    color: antiquewhite;
    border-style: none;
}

.note:hover {
    box-shadow: 0 0.2rem 0 0 rgb(35, 50, 220);
}

#save-btn {
    border-style: none;
    width: 4rem;
    height: 2rem;
    background-color: beige;
    color: grey;
    transition: 500ms;
}

#save-btn:hover {
    background-color: rgb(130, 227, 130);
    box-shadow: 1px 1px 1px 1px  rgba(130, 227, 130, 0.364);
    color: black;
}
.save {
    display: flex;
    justify-content: left;
    width: 100%;
}
.introduction-message, .introduction-message-content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.introduction-message-content {
    height: min-content;
    width: 50rem;
    padding: 2rem;
    color: purple;
    box-shadow: 0rem 0rem 0.3rem 0.3rem rgba(246, 254, 7, 0.218);
    background-color: rgb(35, 29, 29);
    border-radius: 1rem;
    transition: 500ms;
}

.introduction-message-content:hover {
    box-shadow: 0 0 0.5rem 0.5rem rgba(231, 216, 6, 0.542);
}

.introduction-message-content li {
    list-style: none;
}